@import "colors.scss";

.about {
	background: $secondary;
	padding-bottom: 30px;

	.about-title {
		font-family: "Source Sans 3", sans-serif;
		color: $primary;
		font-weight: lighter;
		font-size: 2em;
		padding-top: 80px;
		margin-bottom: 20px;
	}

	.about-description {
		color: #fff;
		font-family: "Source Sans 3", sans-serif;
	}

	.about-image {
		width: 200px;
		margin: 30px auto 30px auto;
	}
}
