@import "colors.scss";

.menu {
	position: fixed;
	top: 0;
	padding-top: 30px;
	right: 30px;

	hr {
		margin-bottom: 7px;
		border-top-width: 3px;
		border-color: $primary;
		width: 30px;
		margin-left: auto;
	}
}
